@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

.pull-xs-left {    float: left !important; }

/* if in single item after basket */
.single-rightside .socialbar.singleItem{
  margin: .5rem .3rem;
}
