@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

.pull-xs-left {    float: left !important; }

/* if in single item after basket */
.single-rightside .socialbar.singleItem{
  margin: .5rem .3rem;
}

.shariff .theme-minimal .shariff-button {
    width: auto !important;
    height: auto !important;
    min-width: 0 !important;
    max-width: none !important;
    border: none;
    margin-right: 0.5rem;
    margin-bottom: 0;
    flex: 0 0 auto;
  }
  .shariff .theme-minimal .shariff-button a {
    color: #dcdbd8;
    height: auto !important;
    background-color: transparent !important;
  }
  .shariff .theme-minimal .shariff-button .share_text {
    display: none;
  }
  .shariff .theme-minimal .shariff-button .share_count {
    background-color: transparent;
    color: #333;
  }
  .shariff .theme-minimal .twitter a:hover {
    color: #55acee;
  }
  .shariff .theme-minimal .facebook a:hover {
    color: #3b5998;
  }
  .shariff .theme-minimal .googleplus a:hover {
    color: #d34836;
  }
  .shariff .theme-minimal .pinterest a:hover {
    color: #bd081c;
  }

